* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    /* background: #faf5f5; */
}

header {
    display: flex;
    justify-content: right;
    padding: 130px;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

header section {
    width: 600px;
    text-align: right;
}

header section h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 24px;
}

header section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.btn-primary {
    background: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

/* ========================
    Style for Main Section    
=========================== */
main {
    margin-left: 200px;
    margin-right: 200px;
}

/* Style for My Failure Section */

.my-failure {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

#failure-description {
    /* background-color: #af1a1a; */
    margin-top: 100px;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

#failure-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

#failure-description ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#failure-description ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.check-mark {
    color: #16D887;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* Style for My Plan Section */

.plan-container {
    margin-bottom: 100px;
}

.plan-container .section-title {
    text-align: center;
    margin-bottom: 50px;
}

.plan-details {
    display: flex;
    justify-content: space-between;
}

.plan-details div {
    text-align: center;
}

.plan-details .plan-topic {
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #151414;
}

.plan-details .plan-description {
    font-weight: 400;
    font-size: 16px;
    color: #737272;
}

/* Style for My Idols Section */
.idol-container {
    background-color: #f4f3f7;
    padding: 40px 30px;
    margin-bottom: 100px;
}

.idol-title {
    font-size: 40px;
    font-weight: 700;
    color: #01b700;
    text-align: center;
    margin-bottom: 44px;
}

.idol-details {
    display: flex;
    gap: 30px;
}

figcaption {
    font-size: 25px;
    text-align: center;
    color: #007ac7;
}

.idol-description {
    padding-top: 30px;
    font-size: 16px;
    font-weight: 300;
    color: #00b3d4;
    text-align: justify;
}

/* Style for Contact Section */

.contact-container {
    margin-bottom: 100px;
    padding: 60px;
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat, repeat-y;
    background-position: top right, left;
    border-radius: 10px;
}

.contact-container .contact-div {
    width: 460px;
}

.contact-container .contact-div h2 {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* Style for Footer Section */

.footer-container {
    background: #151414;
}

.footer-body {
    padding: 130px 230px;
    display: flex;
}

.footer-left {
    width: 500px;
}

.footer-left h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 20px;
}

.footer-left p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-container a {
    margin-right: 20px;
}

.footer-right {
    width: 325px;
}

.footer-right h4 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#footer-email {
    display: block;
    width: 300px;
    padding: 10px 10px;
    background-color: #151414;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

#footer-btn {
    padding: 10px 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}